/* .backdrop {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000030;
} */

.form {
  background-color: #fff;
  border-image: url("./pixel_border.png") 42 round;
  border-style: solid;
  border-width: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  color: #181010;
  font-size: 0.5rem;
  padding: 0.8rem;
  & * {
    cursor: inherit;
  }
}

/* .radioset {
  position: relative;
  appearance: none;
  border: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.7rem;
  margin-block: 1rem;
} */

/* .button {
  display: block;
  appearance: none;
  border: none;
  background-color: transparent;
  font-family: "Pokemon", sans-serif;
  padding: 0.2rem 0.5rem;
  width: 100%;
  text-align: left;
  &:focus-visible {
    outline: none;
  }
} */

/* .radioset > label,
.button {
  position: relative;
} */

.button:hover::before,
.button:focus-visible::before,
.radioset:hover::before {
  position: absolute;
  left: 0;
  transform: translate(-100%, -5%);
  content: ">";
  font-family: "Press Start 2P", Courier, monospace;
  font-size: 0.8rem;
}

/* .radioLabel {
  text-transform: capitalize;

  &:has(.radio:focus-visible) {
    text-decoration: underline;
  }
} */

/* .radio {
  appearance: none;
  width: 1px;
  height: 1em;
  position: relative;

  &:focus-visible {
    outline: none;
  }

  &:checked::before {
    position: absolute;
    content: ">";
    transform: translate(-100%, -10%);
  }
} */

/* .radioLabel,
.button {
  cursor: url("./glove_cursor_pointer.png") 14 0, pointer;
} */
