.game {
  margin-top: 2rem;
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  /* grid-template-columns: repeat(auto-fit, 120px); */
}

.card {
  width: 180px;
  height: 250px;
  background-color: #ffffff30;
  font-size: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--white, white);
}
