/* @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"); */
@font-face {
  font-family: Pokemon;
  src: url("./Pokemon.ttf");
}
@font-face {
  font-family: "Press Start 2P";
  src: url("./Press_Start_2P.woff2");
}

:root {
  font-family: "Press Start 2P", cursive;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
  background-image: url("/pokemon-bg.png");
  background-size: cover;
  background-position: center;
  cursor: url(./glove_cursor.png), auto;
}

a,
button,
input[type="radio"] {
  cursor: url(./glove_cursor_pointer.png) 14 0, pointer;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
